@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  height: 100vh;
  color: #4A4A4A;
  background-color: #FFF3E0;
}

.welcome {
  font-size: 64px;
  font-family: "Pacific", serif;
  font-optical-sizing: auto;
}
